<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMOQZX3ztSs0lABGxz6PZjZIXKxEY_w2U</string>
	<key>GCM_SENDER_ID</key>
	<string>900679950364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.htnguyen.calculatorplus</string>
	<key>PROJECT_ID</key>
	<string>project-calculator-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>project-calculator-plus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900679950364:ios:94ea5faf2410f93a06bfd9</string>
	<key>DATABASE_URL</key>
	<string>https://project-calculator-plus-default-rtdb.firebaseio.com</string>
</dict>
</plist>